
.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 3%;

    .user-card{
        margin-top: 3%;
        width: 400px;
        
        .user-img{
            width: 400px;
            height: auto;
        }
    }
}